@font-face {
  font-family: 'Digital';
  src: url("../fonts/digital-7.ttf");
}

#calculator {
  width: 100%;
  margin: 0 0 100px 0;
}

#calculator .calculator-box {
  width: 100%;
  height: 420px;
  margin-bottom: 30px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

#calculator .calculator-box #calculator-container {
  border: 2px solid #47476b;
  margin: 0;
  padding: 4px;
  background: #000000;
  display: grid;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  grid-template-columns: repeat(4, minmax(80px, auto))
}

#display .display-input {
  min-height: 25px;
  font-family: 'Digital';
  font-size: 20px;
  font-weight: 400;
  color: #ffa500;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#display .display-output {
  font-size: 35px;
  font-family: 'Digital';
  font-weight: 400;
  color: #ffffff;
  text-align: right;
  line-height: 35px;
}

#calculator-container #display {
  grid-column: 1 / -1;
}

#calculator-container #clear, #calculator-container #zero{
  grid-column: 1 / 3;
}

#calculator-container #equals {
  grid-column: 3 / 5;
}

.btn {
  color: #ffffff;
  outline: 1px solid #000000;
  border: none;
  background: #4d4d4d;
  font-family: "Orbitron", "san-serif", monospace;
  font-size: 20px;
  height: 55px;
  cursor: default;
}

@media (max-width: 320px) {
  .btn {
    font-size: 15px;
    height: 35px;
  }
}

.btn:active {
  color: #000000;
  outline: 0.5px solid #808080;
  z-index: 3;
}

.description-calculator {
  text-align: justify;
  width: 100%;
  line-height: 28px;
}

.description-calculator .freecodecamp {
  color: #0000ff;
}