@media (min-width: 751px) {
  #nav-bar-container {
    position: fixed;
    top: 48px;
    z-index: 500;
    border-right: 1px solid #eeeeee;
    background-color: #ffffff;
    padding-top: 30px;
    overflow-y: auto;
  }
}

@media (max-width: 750px) {
  #nav-bar-container {
    position: absolute;
    top: auto !important;
    bottom: 0 !important;
    border: none;
    width: 100%;
    padding: 0;
  }
}

.sidenav-bar {
  background-color: #ffffff;
  margin: 0;
  padding: 0 0 0 5px;
  width: 180px;
  height: 100%;
}

@media (max-width: 750px) {
  .sidenav-bar {
    width: 100%;
    padding: 0;
    background-color: #8d8d8d;
  }
}

.sidenav-bar 
.sidenav-nested-bar-container {
  margin-bottom: 20px;
  font-size: 18px;
}

@media (max-width: 750px) {
  .sidenav-bar 
  .sidenav-nested-bar-container {
    margin-bottom: 0;
    float: left;
    width: 100px;
    padding: 8px 10px;
    text-align: center;
  }
}

.sidenav-nested-bar-container 
.sidenav-nested-bar {
  display: block;
  width: 100%;
  background-color: #ffffff;
  padding: 0;
  text-decoration: none;
  color: #000000;
}

@media (max-width: 750px) { 
  .sidenav-nested-bar-container {
    cursor: pointer;
  }

  .sidenav-nested-bar-container 
  .sidenav-nested-bar {
    display: none;
    position: absolute;
    bottom: 41px;
    left: 0px;
    background-color: #f1f1f1;
  }
}

@media (max-width: 750px) {
  .sidenav-nested-bar-container.bottom-nav-responsive 
  .sidenav-nested-bar {
    display: block;
  }
}

.sidenav-nested-bar-container 
.nav-bar-title-container i {
  width: 1.56em;
  padding-right: 0.56em;
  color: #000000;
}

.sidenav-nested-bar-container 
.nav-bar-title-container a {
  text-decoration: none;
}

.sidenav-nested-bar-container 
.nav-bar-title-container 
.nav-bar-title {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: 600;
}

@media (max-width: 750px) {
  .sidenav-nested-bar-container 
  .nav-bar-title-container {
    font-size: 15px;
  }

  .sidenav-nested-bar-container:focus {
    background-color: #ff0000;
    outline: 0;
  }
}

.sidenav-nested-bar-container 
.sidenav-nested-bar 
.nav-bar-list a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 10px 0px 10px 28px;
  font-size: 14px;
}

.sidenav-nested-bar-container 
.sidenav-nested-bar 
.nav-bar-list a:hover {
  background-color: #dddddd;
}

@media (max-width: 750px) {
  .sidenav-nested-bar-container 
  .sidenav-nested-bar 
  .nav-bar-list a {
    padding: 10px 0px 10px 0px;
  }
}

@media (min-width: 751px) {
  .sidenav-nested-bar-container 
  .sidenav-nested-bar 
  .active {
    border-right: 2px solid #ff0000;
    background-color: #f1f1f1;
  }
}